// Margin
.ma-1 {
	margin: var(--s-xsmall);
}
.mh-1 {
	margin-left: var(--s-xsmall);
	margin-right: var(--s-xsmall);
}
.mv-1 {
	margin-top: var(--s-xsmall);
	margin-bottom: var(--s-xsmall);
}
.ml-1 {
	margin-left: var(--s-xsmall);
}
.mr-1 {
	margin-right: var(--s-xsmall);
}
.mt-1 {
	margin-top: var(--s-xsmall);
}
.mb-1 {
	margin-bottom: var(--s-xsmall);
}

.ma-2 {
	margin: var(--s-small);
}
.mh-2 {
	margin-left: var(--s-small);
	margin-right: var(--s-small);
}
.mv-2 {
	margin-top: var(--s-small);
	margin-bottom: var(--s-small);
}
.ml-2 {
	margin-left: var(--s-small);
}
.mr-2 {
	margin-right: var(--s-small);
}
.mt-2 {
	margin-top: var(--s-small);
}
.mb-2 {
	margin-bottom: var(--s-small);
}

.ma-3 {
	margin: var(--s-medium);
}
.mh-3 {
	margin-left: var(--s-medium);
	margin-right: var(--s-medium);
}
.mv-3 {
	margin-top: var(--s-medium);
	margin-bottom: var(--s-medium);
}
.ml-3 {
	margin-left: var(--s-medium);
}
.mr-3 {
	margin-right: var(--s-medium);
}
.mt-3 {
	margin-top: var(--s-medium);
}
.mb-3 {
	margin-bottom: var(--s-medium);
}

.ma-4 {
	margin: var(--s-large);
}
.mh-4 {
	margin-left: var(--s-large);
	margin-right: var(--s-large);
}
.mv-4 {
	margin-top: var(--s-large);
	margin-bottom: var(--s-large);
}
.ml-4 {
	margin-left: var(--s-large);
}
.mr-4 {
	margin-right: var(--s-large);
}
.mt-4 {
	margin-top: var(--s-large);
}
.mb-4 {
	margin-bottom: var(--s-large);
}

.ma-5 {
	margin: var(--s-xl);
}
.mh-5 {
	margin-left: var(--s-xl);
	margin-right: var(--s-xl);
}
.mv-5 {
	margin-top: var(--s-xl);
	margin-bottom: var(--s-xl);
}
.ml-5 {
	margin-left: var(--s-xl);
}
.mr-5 {
	margin-right: var(--s-xl);
}
.mt-5 {
	margin-top: var(--s-xl);
}
.mb-5 {
	margin-bottom: var(--s-xl);
}
