// Padding
.pa-0 {
	padding: 0;
}

.pa-1 {
	padding: var(--s-xsmall);
}
.ph-1 {
	padding-left: var(--s-xsmall);
	padding-right: var(--s-xsmall);
}
.pv-1 {
	padding-top: var(--s-xsmall);
	padding-bottom: var(--s-xsmall);
}
.pl-1 {
	padding-left: var(--s-xsmall);
}
.pr-1 {
	padding-right: var(--s-xsmall);
}
.pt-1 {
	padding-top: var(--s-xsmall);
}
.pb-1 {
	padding-bottom: var(--s-xsmall);
}

.pa-2 {
	padding: var(--s-small);
}
.ph-2 {
	padding-left: var(--s-small);
	padding-right: var(--s-small);
}
.pv-2 {
	padding-top: var(--s-small);
	padding-bottom: var(--s-small);
}
.pl-2 {
	padding-left: var(--s-small);
}
.pr-2 {
	padding-right: var(--s-small);
}
.pt-2 {
	padding-top: var(--s-small);
}
.pb-2 {
	padding-bottom: var(--s-small);
}

.pa-3 {
	padding: var(--s-medium);
}
.ph-3 {
	padding-left: var(--s-medium);
	padding-right: var(--s-medium);
}
.pv-3 {
	padding-top: var(--s-medium);
	padding-bottom: var(--s-medium);
}
.pl-3 {
	padding-left: var(--s-medium);
}
.pr-3 {
	padding-right: var(--s-medium);
}
.pt-3 {
	padding-top: var(--s-medium);
}
.pb-3 {
	padding-bottom: var(--s-medium);
}

.pa-4 {
	padding: var(--s-large);
}
.ph-4 {
	padding-left: var(--s-large);
	padding-right: var(--s-large);
}
.pv-4 {
	padding-top: var(--s-large);
	padding-bottom: var(--s-large);
}
.pl-4 {
	padding-left: var(--s-large);
}
.pr-4 {
	padding-right: var(--s-large);
}
.pt-4 {
	padding-top: var(--s-large);
}
.pb-4 {
	padding-bottom: var(--s-large);
}

.pa-5 {
	padding: var(--s-xl);
}
.ph-5 {
	padding-left: var(--s-xl);
	padding-right: var(--s-xl);
}
.pv-5 {
	padding-top: var(--s-xl);
	padding-bottom: var(--s-xl);
}
.pl-5 {
	padding-left: var(--s-xl);
}
.pr-5 {
	padding-right: var(--s-xl);
}
.pt-5 {
	padding-top: var(--s-xl);
}
.pb-5 {
	padding-bottom: var(--s-xl);
}
