@import url(./reset.scss);
@import url(./palette.scss);
@import url(./fonts.scss);
@import url(./composition/index.scss);

body {
	margin: 0;
	font-family: 'Roboto';

	background: var(--c-bg);
	color: var(--c-text);
	font-size: var(--s-medium);
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
	font-family: 'Ubuntu';
	cursor: pointer;
	line-height: 1;
	background-color: white;
}

body,
.root,
.App {
	width: 100vw;
	height: 100vh;
}

.App {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: start;
	white-space: nowrap;

	position: relative;

	background: url('../imgs/background.jpg');

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
