:root {
	// Color
	--c-white: #fff;
	--c-black: #121212;
	--c-primary: #dc8add;

	--c-bg: var(--c-black);
	--c-surface: color-mix(in hsl, var(--c-bg), var(--c-white) 7%);
	--c-text: var(--c-white);
	--c-text-revert: var(--c-black);

	// Size
	--s-round-smooth: 12px;
	--s-round-default: 24px;
	--s-round-pill: 1000px;

	--s-xsmall: 4px;
	--s-small: 8px;
	--s-medium: 16px;
	--s-large: 24px;
	--s-xl: 32px;
	--s-xxl: 46px;
	--s-xxxl: 64px;

	--elevation-1: 0 4px 8px rgba(0, 0, 0, 0.25);
	--elevation-2: 0 4px 8px rgba(0, 0, 0, 0.75);
	--elevation-3: 0 8px 16px rgba(0, 0, 0, 0.75);
}
