.overlay-wrapper {
	position: absolute;

	width: 100vw;
	height: 100vh;
	display: flex;
}

.overlay {
	display: grid;
	grid-template-columns: min-content 2fr min-content;
	grid-template-rows: min-content 1fr min-content min-content;
	grid-template-areas:
		'view . options'
		'. . info'
		'. . toolbar'
		'player player player';
}

.view-wrapper {
	grid-area: view;
}

.options-wrapper {
	grid-area: options;
}

.component-info-wrapper {
	grid-area: info;
}

.toolbar-wrapper {
	grid-area: toolbar;
}

.player-wrapper {
	grid-area: player;
}

.player {
	grid-area: player;
}
