.bg-default {
	background-color: var(--c-background);
}

.bg-primary {
	background-color: var(--c-primary);
}

.text-default {
	color: var(--c-text);
}

.text-revert {
	color: var(--c-background);
}

.text-primary {
	color: var(--c-primary);
}
